<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatAPP</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h3>Welcome to chat section</h3>
    <form action="/chats/new" method="GET">
      <button>New Chat</button>
    </form>
    <div class="chat-container">
      <% for(let chat of chats){ %>
      <div class="chat-message">
        <p><strong>From:</strong> <%= chat.from %></p>
        <p><strong>Message:</strong> <%= chat.message %></p>
        <p><strong>Received by:</strong> <%= chat.to %></p>
        <br />
        <p><%= chat.created_at.toString().split(" ")[4] %></p>
        <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
        <form action="/chats/<%= chat._id %>/edit" method="GET">
          <button>Edit Message</button>
        </form>

        <form action="/chats/<%= chat._id %>?_method=DELETE" method="POST">
          <button type="submit" class="delete-btn">Delete Message</button>
        </form>
      </div>
      <% } %>
    </div>
  </body>
</html>
